<div class="jumbotron">
		<center>
			<h1>Welcome to Marc's Pizza Shack</h1>

			<h2>Home of the World Famous Pizzaco!</h2>

			<img src="http://i.imgur.com/I2Nl5vh.jpg">

			<br>

			<%= link_to "Check out our Pizza's!!!", pizzas_path, class: "btn btn-default" %>

		</center>	

</div>